{{#each entries}}
    <li class="cart__item">
        <input class="cart__item-article" type="hidden" value="{{article}}"/>
        <div class="cart__item-thumbnail">
            <img class="cart__item-img" src="{{src}}"/>
        </div>
        <div class="cart__item-info">
            <div class="cart__item__category">{{category}}</div>
            <div class="cart__item__title">{{title}}</div>
            <div class="cart__item-cols">
                <div class="cart1 column">
                    <label>
                        <input class="cart__item-qty" name="qty" type="number" min="1" value="{{qty}}"/>
                    </label>
                    шт.
                </div>
                <div class="cart__item-price cart1 column">{{price}} {{priceFormat}}</div>
            </div>
            <button class="cart__item-remove ui-close">remove</button>
        </div>
    </li>
{{/each}}

{{#if entries.length}}
    <li class="cart__item">
        <div class="cart__item-cols">
            <div class="cart1 column">Доставка</div>
            <div class="cart__item-price cart1 column">
                {{#if shipping.price}}
                    {{shipping.price}} {{shipping.priceFormat}}
                {{else}}
                    Бесплатно
                {{/if}}
            </div>
        </div>
    </li>
    <li class="cart__item">
        <div class="cart__item-cols">
            <div class="cart1 column">К оплате</div>
            <div class="cart__item-price cart1 column">
                {{total.price}} {{total.priceFormat}}
            </div>
        </div>
    </li>
{{/if}}