{{#paginate pagination type="previous"}}
    <li data-page="{{n}}" class="pagination__item pagination__item_prev {{#if disabled}}pagination__item_state_disabled{{/if}}"></li>
{{/paginate}}
{{#if showFirst}}
    {{#paginate pagination type="first"}}
        <li data-page="{{n}}" class="pagination__item pagination__item_first {{#if disabled}}pagination__item_state_disabled{{/if}}">{{n}}</li>
    {{/paginate}}
{{/if}}
{{#if preEllipsis}}
    <li data-page="{{preEllipsis}}" class="pagination__item">...</li>
{{/if}}
{{#paginate pagination type="middle" limit=pagination.show}}
    <li data-page="{{n}}" class="pagination__item {{#if active}}pagination__item_state_active{{/if}}">{{n}}</li>
{{/paginate}}
{{#if postEllipsis}}
    <li data-page="{{postEllipsis}}" class="pagination__item">...</li>
{{/if}}
{{#if showLast}}
    {{#paginate pagination type="last"}}
        <li data-page="{{n}}" class="pagination__item pagination__item_last {{#if disabled}}pagination__item_state_disabled{{/if}}">{{n}}</li>
    {{/paginate}}
{{/if}}
{{#paginate pagination type="next"}}
    <li data-page="{{n}}" class="pagination__item pagination__item_next {{#if disabled}}pagination__item_state_disabled{{/if}}"></li>
{{/paginate}}